.main__navigation{
    list-style-type: none;
    display:flex;
    margin:1em 0;
    &-item{
        display: flex;
        align-items: center;
        margin-right: 1em;
    }
}
.logo{
    flex:2;
}
.monster_nav{
    flex:1;
    &:nth-of-type(3){
        flex:3;
    }
}
.user{
    &__pic{
        margin-left:2em;
    }
    &__info{
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        width:7em;
        &-name{
            font-weight:700;
        }
        p{
            text-align: left;
        }
    }
}