.gnome__list{
    list-style: none;
    &-wrapper{
        width:100%;
        background: $secondary-color;
        padding-top:80px;
    }
    &-single{
        border-bottom:1px solid $secondary-color;
        padding:10px 10px;
        background: white;
        cursor: default;
    }
    &-content{
        display: flex;
    }
    &-info__wrapper{
        align-self:center;
        flex:1;
        margin-left:20px;
    }
    &-bar{
        width:250px;
        height:10px;
        background: $secondary-color;
        border-radius:10px;
        align-self:center;
        position:relative;
        &-helper{
            position:absolute;
            left:0;
            height:10px;
            border-radius:8px;
            &.darker{
                background: $main-color;
                width:20px;
                z-index:2;
            }
            &.bright{
                background: $strength-bar-color;
                width:30px;
                z-index:1;
            }
        }
    }
    &-strength__text{
        align-self: center;
        margin-left:10px;
        width:130px;
        text-align:right;
        strong{
            margin-left:5px;
        }
    }
    &-name__text{
        font-weight: 600;
    }
}
.list__title{
    margin-bottom:40px;
    font-weight:500;
}
.edit__gnome-form{
    display:flex;
    justify-content:center;
}